.outer {
    margin: auto;
    width: 50%;
    margin-top: 5%;
}
/*Source https://codepen.io/beumsk/pen/ZvjLgv?page=4 */
@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.anim {
  width: 100px;
  height: 100px;
  position: relative;
  animation: loading-p 5s linear infinite;
  border: solid 1px #c62828;
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  .anim {
    width: 150px;
    height: 150px;
    margin: 30px auto;
  }
}

@keyframes loading-p {
  50% {border-color: #1565c0;}
  100% {transform: rotate(360deg);}
}

.anim div {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
  background: #c62828;
  border-radius: 50%;
  animation: loading-c 5s linear infinite;
}
@media only screen and (min-width: 768px) {
  .anim div {
    height: 45px;
    width: 45px;
  }
}

@keyframes loading-c {
  50% {background: #1565c0;}
}

.text {
  font-family: 'Rajdhani', sans-serif;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #c62828;
  text-align: center;
  animation: loading-t 5s linear infinite;
}
@media only screen and (min-width: 768px) {
  .text {
    font-size: 90px;
    letter-spacing: 0.3em;
  }
}

@keyframes loading-t {
  50% {color: #1565c0;}
}