

.App {
  font-family: rubik;
  text-align: center;
  background:#fefff0;
  -webkit-transition: all 1s;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.FormGroup {
  text-align: center;
  padding: 10px;
  justify-content: center;
  margin-left: 16px;
}

.FormControlLabel{
  text-align: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn{
    font-family: 'Rubik', sans-serif;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 16px;
  border-radius: 12%;
  margin: 4px;
  padding: 0%;
  font-weight: bolder;
  align-content: initial;

  outline: none;

  background: #fff;
}

.btn-clicked{
  background: rgb(255, 255, 0);
  color: rgb(0, 0, 0));
  border:2px solid #000;
    box-shadow: 4px 4px 0px 1px #000;
  /* box-shadow: #ffff00 3px 3px; */
}


.btn-group{
margin-left: 0rem;
margin-bottom: 2rem;
}

.btn-unclicked{

  background: #fff;
  color: rgb(0, 0, 0);
    border:2px solid #fff;
    
    box-shadow: inset 2px 2px 0px 1px #ffff9e;

    box-shadow: inset 4px 4px 0px #ffff9e;
    /* box-shadow: #ffff95 1px 1px; */

}

p {
  color: black;
  font-weight: 900;
  text-align: left;
  font-size: 1rem;
  width: 336px;
}

.potato {  font-family: "Rubik" !important;}